<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Dashboard</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <strong>
        <h1>Personal Blog</h1>
      </strong>
      <a href=/new >+ Add</a>
    </header>
    <nav>
      <ul>
        <li th:each="article:${articles}">
          <strong>
            <a
              th:href="@{/article/{id}(id=${article.id})}"
              th:text="${article.title}"
            ></a>
          </strong>
          <a th:href="@{/edit/{id}(id=${article.id})}">Edit</a>
          <a th:href="@{/delete/{id}(id=${article.id})}">Delete</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
