<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="|Article ${dto.id}|" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <strong>
        <h1 th:text="${dto.title}" />
      </strong>
    </header>
    <main>
      <article>
        <p th:text="${dto.content}" />
      </article>
    </main>
    <footer>
      <i>
        <small th:text="${dto.dop}" />
      </i>
      <br />
      <i>
        <small><a href="/home">Go back to home</a></small>
      </i>
    </footer>
  </body>
</html>
